USE [master]
GO
/****** Object:  Database [McNNTP]    Script Date: 01/05/2014 00:17:07 ******/
CREATE DATABASE [McNNTP] ON  PRIMARY 
( NAME = N'McNNTP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\McNNTP.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'McNNTP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\McNNTP_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [McNNTP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [McNNTP]
GO
/****** Object:  Table [dbo].[Newsgroup]    Script Date: 01/05/2014 00:17:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Newsgroup](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](250) NULL,
	[CreateDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Newsgroup] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [IX_Newsgroup] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Article]    Script Date: 01/05/2014 00:17:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Article](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NewsGroupID] [bigint] NOT NULL,
	[Subject] [varchar](250) NULL,
	[Author] [varchar](250) NULL,
	[Date] [varchar](50) NULL,
	[Refs] [varchar](250) NULL,
	[MessageID] [varchar](250) NOT NULL,
	[Body] [ntext] NOT NULL,
 CONSTRAINT [PK_Article] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Default [DF_Newsgroup_CreateDate]    Script Date: 01/05/2014 00:17:09 ******/
ALTER TABLE [dbo].[Newsgroup] ADD  CONSTRAINT [DF_Newsgroup_CreateDate]  DEFAULT (getutcdate()) FOR [CreateDate]
GO
/****** Object:  ForeignKey [FK_Article_Newsgroup]    Script Date: 01/05/2014 00:17:09 ******/
ALTER TABLE [dbo].[Article]  WITH CHECK ADD  CONSTRAINT [FK_Article_Newsgroup] FOREIGN KEY([NewsGroupID])
REFERENCES [dbo].[Newsgroup] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Article] CHECK CONSTRAINT [FK_Article_Newsgroup]
GO
